language: generic

dist: trusty

env:
  # postgresql
  - config: postgres.yml

  # custom values
  - config: postgres.yml
    DB_NAME: mydb
    DB_USER: myuser
    DB_PWD: password
    POSTGRES_DB: mydb
    POSTGRES_USER: myuser

  # custom certificates path
  - config: certs.yml
    SSL_CERTIFICATE_PATH: /var/www/onlyoffice/Data/certs/onlyoffice.crt
    SSL_KEY_PATH: /var/www/onlyoffice/Data/certs/onlyoffice.key

  # deprecated variables
  - config: postgres-old.yml

  # mysql
  - config: mysql.yml

  # mariadb
  - config: mariadb.yml

  # activemq
  - config: activemq.yml

  # rabbitmq
  - config: rabbitmq.yml

  # rabbitmq old variables
  - config: rabbitmq-old.yml

  # redis
  - config: redis.yml

services:
  - docker

script:
  # Go to tests dir
  - cd ${PWD}/tests

  # Run test.
  - ./test.sh
